
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\e805'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */